<section>
  <h3>Two Way DataBinding</h3>
  <div>
    <!-- <input type="text" [value]="nome" (input)="nome = $event.target.value"> -->

    <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event">

    <input type="text" [(ngModel)]="nome">

    <p>Você digitou o nome: {{ nome }}</p>
  </div>

  <div>

    <input type="text" [(ngModel)]="pessoa.nome">
    <input type="text" [(ngModel)]="pessoa.idade">

    <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos.</p>
  </div>
</section>
