<app-primeiro-componente></app-primeiro-componente>

<app-cursos></app-cursos>

<app-databinding></app-databinding>

<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar valor</button>
<button (click)="destruirCiclo()">Deletar valor</button>

<app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-switch></app-diretiva-switch>

<app-diretiva-ngfor></app-diretiva-ngfor>

<app-diretiva-ngclass></app-diretiva-ngclass>

<app-diretiva-ngstyle></app-diretiva-ngstyle>

<app-operador-elvis></app-operador-elvis>

<!-- <app-diretiva-ngcontent>
  Conteúdo passado para o componente
  <app-cursos></app-cursos>
</app-diretiva-ngcontent> -->

<app-diretiva-ngcontent>
  <div class="titulo">
    Titulo passado para o componente
  </div>
  <div class="content">
    Conteudo passado para o componente
    <br>
    <app-cursos></app-cursos>
  </div>
  <div class="content">
    Conteudo passado para o componente 2
  </div>
</app-diretiva-ngcontent>

<app-diretivas-customizadas></app-diretivas-customizadas>
