<h3>Diretiva NgIf</h3>

<div *ngIf="cursos.length > 0; else naoMostrar">
  Lista de cursos aqui.
  <br>
  <ul *ngFor="let item of cursos">
    <li>{{ item }}</li>
  </ul>
</div>

<ng-template #naoMostrar>
  Não existem cursos para serem listados.
</ng-template>

<br>

<div *ngIf="mostrarCursos; else naoMostrarCursos">
  Lista de cursos aqui.
  <br>
  <ul *ngFor="let item of cursos">
    <li>{{ item }}</li>
  </ul>
</div>

<ng-template #naoMostrarCursos>
  Não existem cursos para serem listados.
</ng-template>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
